body{

}

#title{
  background-color: #1c1c1d;
  border-bottom: solid;
  border-color: #38383b;
  border-width: 1px;
}

.co{
  color: white;
}
.abc{
  margin-right: 10px;
}

.nav-bttn{
  border: 1px;

}

.heading{
  font-size: 25px;
}

.disc{
  margin-top: -10px;
}

.main{
  color: #fff;
  font-family: arial;
  margin-top: 10px;
}


.icon-btons{
   margin-left: 0rem;
}

.btons{
  padding: 0px 3px;
}

.right-btons{
  width: 48%;
  height: 45px;
}


.sec{

  margin-top: 15px;

}

.first, .second, .third, .fourth{
  text-align: center;
  border: solid;
  border-radius: 5px;
  border-color: #38383b;
  font-family: arial;
  font-size: 22px;
  font-weight: 600;
  background-color: #1c1c1d;
}

.first{
  color: #00b065;
}

.second{
  color: #d63144;
}

.third{
  color: #449be2;
}

.fourth{
  color: #afb03e;
}

.search{
  width: 94%;
  border-radius: 5px;
}

.qwerty{
  margin-top: 20px;

}

.table{
  font-weight: 600;
  background-color: #1c1c1d;
  text-align: center;
}

th, td{
  color: white;
  text-align: center;
}

.green{
  color: #00b065;
}

.red{
  color: #d63144;
}

.blue{
  color: #449be2;
}

.yellow{
  color:  #afb03e;
}

.country{
  text-align: left;
}
